# Version: 0.7
# Host: ldap.marsel.is
# Locale
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select us
# Network
d-i netcfg/choose_interface select auto
d-i netcfg/disable_autoconfig boolean true
d-i netcfg/get_ipaddress string 10.0.0.6
d-i netcfg/get_netmask string 255.255.255.0
d-i netcfg/get_gateway string 10.0.0.138
d-i netcfg/get_nameservers string 1.1.1.1
d-i netcfg/confirm_static boolean true
d-i netcfg/get_hostname string ldap
d-i netcfg/get_domain string marsel.is
# Mirror
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string
# Clock
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Oslo
d-i clock-setup/ntp boolean true
# Partitioning
d-i partman-basicfilesystems/choose_label select gpt
d-i partman-basicfilesystems/default_label string gpt
d-i partman-auto/disk string /dev/vda
d-i partman-auto/method string regular
d-i partman-auto/expert_recipe string \
    custom ::                          \
        512 512 512 fat32              \
            $primary{ }               \
            method{ efi }             \
            format{ }                 \
        .                              \
        1024 1024 1024 ext4            \
            $primary{ }               \
            method{ format }          \
            format{ }                 \
            use_filesystem{ }         \
            filesystem{ ext4 }        \
            mountpoint{ /boot }       \
        .                              \
        4096 4096 4096 linux-swap      \
            method{ swap }            \
            format{ }                 \
        .                              \
        10000 20000 -1 btrfs           \
            method{ format }          \
            format{ }                 \
            use_filesystem{ }         \
            filesystem{ btrfs }       \
            mountpoint{ / }           \
        .
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-efi/non_efi_system boolean false
# Root account disabled
d-i passwd/root-login boolean false
# User
d-i passwd/user-fullname string gmarselis
d-i passwd/username string gmarselis
d-i passwd/user-password-crypted password !
d-i passwd/user-default-groups string sudo
# Packages
tasksel tasksel/first multiselect standard
d-i pkgsel/include string vim openssh-server xauth slapd ldap-utils libsasl2-modules gnutls-bin certbot shim-signed grub-efi-amd64-signed ncdu parted nmap apt-file etckeeper
#d-i pkgsel/exclude string qemu-guest-agent
d-i pkgsel/upgrade select full-upgrade
# slapd
slapd slapd/domain string marsel.is
slapd slapd/organization string marsel
slapd slapd/password1 password 12345
slapd slapd/password2 password 12345
slapd slapd/backend select MDB
slapd slapd/purge_database boolean false
slapd slapd/move_old_database boolean true
slapd slapd/no_configuration boolean false
# Bootloader
d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string /dev/vda
d-i grub-installer/with_other_os boolean false
# Finish
d-i finish-install/reboot_in_progress note
# Post-install
d-i preseed/late_command string \
    in-target bash -c 'echo ldap.marsel.is > /etc/hostname'; \
    in-target mkdir -p /home/gmarselis/.ssh; \
    in-target bash -c 'echo "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIL5G39vHZAQFo6BuFfJtIFUR/4DyQtf9KIIy4jJlcBQt gmarselis@molly.vetinst.no" > /home/gmarselis/.ssh/authorized_keys'; \
    in-target chown -R gmarselis:gmarselis /home/gmarselis/.ssh; \
    in-target chmod 700 /home/gmarselis/.ssh; \
    in-target chmod 600 /home/gmarselis/.ssh/authorized_keys; \
    in-target bash -c 'echo "gmarselis ALL=(ALL) NOPASSWD: ALL" > /etc/sudoers.d/gmarselis'; \
    in-target chmod 440 /etc/sudoers.d/gmarselis; \
    in-target sed -i 's/GRUB_CMDLINE_LINUX=""/GRUB_CMDLINE_LINUX="console=ttyS0,115200n8 systemd.ssh_auto=no"/' /etc/default/grub; \
    in-target update-grub; \
    in-target apt-get purge -y qemu-guest-agent; \
    in-target ln -sf /dev/null /etc/systemd/system-generators/systemd-ssh-generator; \
    in-target systemctl enable slapd; \
    in-target apt-file update; \
    in-target etckeeper init; \
    in-target bash -c 'printf "[Unit]\nDescription=etckeeper initial commit\nAfter=network.target\nConditionPathExists=!/etc/.git/refs/heads/main\n\n[Service]\nType=oneshot\nExecStart=/usr/bin/etckeeper commit \"Initial post-install commit\"\nRemainAfterExit=yes\n\n[Install]\nWantedBy=multi-user.target\n" > /etc/systemd/system/etckeeper-initial-commit.service'; \
    in-target systemctl enable etckeeper-initial-commit; \
    in-target update-alternatives --set editor /usr/bin/vim.basic;

